<!--footer.html-->
{{ define "layouts/footer.html"}}
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; MUMEOG 2021 Young Woo Lee</div>
            <div>
                <!--
          <a href="#">Privacy Policy</a>
          &middot;
          <a href="#">Terms &amp; Conditions</a>
          -->
          
            <div>
            <a href="https://github.com/lyw1217">GitHub</a>
            /
            <a href="https://young-cow.tistory.com/">Blog</a>
            </div>
            <div>
                <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fmumeog.site&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>
            </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</body>

</html>

{{ end }}